html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.name {
  background-color: rgba(72, 64, 64, 0.349);
  border: none;
  padding: 5px 15px;
}

#add {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

#add:hover {
  background-color: rgba(71, 64, 64, 0.349);
}

.name:focus {
  outline: 2px solid rgba(12, 190, 235, 1);
}

.gym {
  color: darkblue;
  list-style: circle;
}

.hobby {
  color: darkgoldenrod;
}

.work {
  text-decoration: underline;
}
